<!DOCTYPE html>
<html data-ng-app="xmec">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>XMEC Meet 2016 | Coming Soon !!</title>
        <style>
            [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
                display: none !important;
            }
        </style>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">
        <link href="css/xmec_style.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    </head>
    <body data-ng-controller="xmec-ctrl">
        <div class="backround_image"></div>
        <div class="container">
            <div class="logo">
                <img src="assets/xmeclogo.png">
                <div class="caption">
                    <div>XMEC MEET 2016</div>
                </div>
                <div class="caption __sub">
                    <div>DEC 17, Banglore</div>
                </div>
                <div class="caption helper ng-cloak">
                    <div>See You all in</div>
                    <div class="__timer_container"> 
                        <div data-ng-if="dateoffset.totalDays > 0" class="__timer">
                            <div class="__timer_main">{{dateoffset.totalDays}}</div>
                            <div>
                                day<span data-ng-if="dateoffset.totalDays > 1">s</span>
                            </div>
                        </div>
                        <div data-ng-if="dateoffset.hours > 0" class="__timer">
                            <div class="__timer_main">{{dateoffset.hours}}</div>
                            <div>
                                hour<span data-ng-if="dateoffset.hours > 1">s</span>
                            </div>
                        </div>
                        <div data-ng-if="dateoffset.minutes > 0" class="__timer">
                            <div class="__timer_main">{{dateoffset.minutes}}</div>
                            <div>
                                min<span data-ng-if="dateoffset.minutes > 1">s</span>
                            </div>
                        </div>
                        <div class="__timer">
                            <div class="__timer_main">{{dateoffset.seconds}}</div>
                            <div>
                                seconds
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="__footer">
                <!-- Social Icons On its way -->
                <div class="__social_icon">
                    <a href="https://www.facebook.com/mecalumnimeet">
                        <i class="fa fa-facebook fa-fw" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="__social_icon">
                    <a href="https://twitter.com/xmecmeet">
                        <i class="fa fa-twitter fa-fw" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- div class="second container"></div -->
        <script src="js/jquery.min.js"></script>
        <script src="js/angular.js"></script>
        <script src="js/coming_soon.js"></script>
        <script src="https://use.fontawesome.com/b6609ddfef.js"></script>
    </body>
</html>
